:root {
  --ifm-color-primary: #2a6b4e;
  --ifm-color-primary-dark: #255f46;
  --ifm-color-primary-darker: #225942;
  --ifm-color-primary-darkest: #1c4936;
  --ifm-color-primary-light: #2f7756;
  --ifm-color-primary-lighter: #327d5a;
  --ifm-color-primary-lightest: #3b946b;
}
